.DS_Store
.env
areas.json
categories.json
import_data.json
prefs.json
rating_votes.json
ratings.json
restaurants.json
stations.json
mapping.json
get-pip.py
ldbulk.py
load_csv.py
jsonWrite.py
test.py
csv2json.py
*.csv
*.pyc
__pycache__
